ipykernel>=7.0.1,<8.0.0
matplotlib>=3.10.7,<4.0.0
numpy>=2.3.4,<4.0.0
openpyxl>=3.1.5,<4.0.0     # For reading/writing Excel files (.xlsx)
pandas>=2.3.3,<4.0.0
plotly>=6.3.1,<7.0.0
pyarrow>=22.0.0,<23.0.0    # For reading/writing Parquet files
scipy>=1.16.2,<2.0.0       # For numerical routines, interpolation, optimization, etc.
sqlalchemy>=2.0.44,<3.0.0  # For SQL database integration
tables>=3.10.2,<4.0.0      # For reading/writing HDF5 files via PyTables